<div>
    <p>
        Hi <%=object.name%>!
    </p>
    <br>
    <p>Dear <strong><%=object.name%></strong> , you are having contest today Codeforces at <strong> <%=object.time%> </strong> .</p>
    <br>
    <p>So login to register contest at <a href="https://codeforces.com/contests">Codeforces</a> .</p>
    <br>
    <p>Thanks!</p>
</div>